#Centru de excelenta/Aceeasi paritate/accparitate.exe
#Centru de excelenta/adunare vectori/adunare vectori.cbp
#Centru de excelenta/adunare vectori/adunare vectori.layout
#Centru de excelenta/adunare vectori/bin/Debug/adunare vectori.exe
#Centru de excelenta/interval.exe
#Centru de excelenta/alternant1/alternant1.exe
#Centru de excelenta/bubble sort/bubble sort.cbp
#Centru de excelenta/bubble sort/bubble sort.depend
#Centru de excelenta/bubble sort/bubble sort.layout
#Centru de excelenta/bubble sort/bubble_sort.exe
#Centru de excelenta/bubble sort/bin/Debug/bubble sort.exe
#Centru de excelenta/bubble sort/obj/Debug/main.o
#Centru de excelenta/Cautare binara/cautarebinara.exe
#Centru de excelenta/cifra de control/cifra de control.cbp
#Centru de excelenta/cifra de control/cifra de control.depend
#Centru de excelenta/cifra de control/cifra de control.layout
#Centru de excelenta/cifra de control/bin/Debug/cifra de control.exe
#Centru de excelenta/cifra de control/obj/Debug/main.o
#Centru de excelenta/cifre001/cifre001.exe
#Centru de excelenta/cifre001/cifre001tata.exe
#Centru de excelenta/comun/comun.exe
#Centru de excelenta/ElimRep/elimrep.exe
#Centru de excelenta/fisiere/date.in
#Centru de excelenta/fisiere/date.out
#Centru de excelenta/fisiere/fisiere.exe
#Centru de excelenta/fisiere/fisiere.o
#Centru de excelenta/functii/functii.cbp
#Centru de excelenta/functii/functii.depend
#Centru de excelenta/functii/functii.layout
#Centru de excelenta/functii/bin/Debug/functie prim.exe
#Centru de excelenta/functii/cmmdc/cmmdc.cbp
#Centru de excelenta/functii/cmmdc/cmmdc.layout
#Centru de excelenta/functii/cmmdc/bin/Debug/cmmdc.exe
#Centru de excelenta/functii/cmmdc/obj/Debug/main.o
#Centru de excelenta/functii/descompunerea/descompunerea.cbp
#Centru de excelenta/functii/descompunerea/descompunerea.depend
#Centru de excelenta/functii/descompunerea/descompunerea.layout
#Centru de excelenta/functii/descompunerea/bin/Debug/descompunerea.exe
#Centru de excelenta/functii/descompunerea/obj/Debug/main.o
#Centru de excelenta/functii/divizor/divizor.cbp
#Centru de excelenta/functii/divizor/divizor.depend
#Centru de excelenta/functii/divizor/divizor.layout
#Centru de excelenta/functii/divizor/bin/Debug/divizor.exe
#Centru de excelenta/functii/divizor/obj/Debug/main.o
#Centru de excelenta/functii/obj/Debug/main.o
#Centru de excelenta/inlocuire2/inlocuire2.exe
#Centru de excelenta/Interclasare1/interclasare1.exe
#Centru de excelenta/intersectie interval/rez 1.png
#Centru de excelenta/intersectie interval/rez 2.png
#Centru de excelenta/intersectie interval/interval.o
#Centru de excelenta/intersectie interval/interval.exe
#Centru de excelenta/interclasare2/interclasare2.out
#Centru de excelenta/interclasare2/interclasare2.in
#Centru de excelenta/interclasare2/interclasare2.exe
#Centru de excelenta/Interclasare1/interclasare1.out
#Centru de excelenta/Interclasare1/interclasare1.in
#Centru de excelenta/Ksort/ksort.exe
#Centru de excelenta/Multimi1/multimi1.exe
#Centru de excelenta/neg, poz, 0/neg, poz, 0.cbp
#Centru de excelenta/neg, poz, 0/neg, poz, 0.depend
#Centru de excelenta/neg, poz, 0/neg, poz, 0.layout
#Centru de excelenta/neg, poz, 0/bin/Debug/neg, poz, 0.exe
#Centru de excelenta/neg, poz, 0/obj/Debug/main.o
#Centru de excelenta/oglindit/oglindit.exe
#Centru de excelenta/pana la 0/nr pana la 0/nr pana la 0.cbp
#Centru de excelenta/pana la 0/nr pana la 0/nr pana la 0.depend
#Centru de excelenta/pana la 0/nr pana la 0/nr pana la 0.layout
#Centru de excelenta/pana la 0/nr pana la 0/bin/Debug/nr pana la 0.exe
#Centru de excelenta/pana la 0/nr pana la 0/obj/Debug/main.o
#Centru de excelenta/permAlternativ/permAlternativ.cbp
#Centru de excelenta/permAlternativ/permAlternativ.depend
#Centru de excelenta/permAlternativ/permAlternativ.layout
#Centru de excelenta/permAlternativ/bin/Debug/permAlternativ.exe
#Centru de excelenta/permAlternativ/obj/Debug/main.o
#Centru de excelenta/PermCirc/PermCirc.exe
#Centru de excelenta/permCircFunctie/permCircFunctie.cbp
#Centru de excelenta/permCircFunctie/permCircFunctie.depend
#Centru de excelenta/permCircFunctie/permCircFunctie.layout
#Centru de excelenta/permCircFunctie/rezolvare 2.png
#Centru de excelenta/permCircFunctie/bin/Debug/permCircFunctie.exe
#Centru de excelenta/permCircFunctie/obj/Debug/main.o
#Centru de excelenta/reuniune interval/reuniune.exe
#Centru de excelenta/sortMinMax/sortminmax.exe
#Centru de excelenta/stergere array/radu.png
#Centru de excelenta/stergere array/stergere array.cbp
#Centru de excelenta/stergere array/stergere array.depend
#Centru de excelenta/stergere array/stergere array.layout
#Centru de excelenta/stergere array/toma.txt
#Centru de excelenta/stergere array/bin/Debug/stergere array.exe
#Centru de excelenta/stergere array/obj/Debug/main.o
#Centru de excelenta/suma perm n9/sumpermn9.exe
#Centru de excelenta/suma prefixe/sumprefix.exe
#Centru de excelenta/ultima cifra para/ultima_cifra_para.exe
bisect/bisect.exe
calculator/calculator.exe
Concurs/concurs.cbp
Concurs/concurs.depend
Concurs/concurs.layout
Concurs/bin/Debug/concurs.exe
Concurs/obj/Debug/main.o
divizibil/divizibil.cbp
divizibil/divizibil.depend
divizibil/divizibil.layout
divizibil/bin/Debug/divizibil.exe
divizibil/obj/Debug/main.o
divizibil cu 7/divizibil cu 7.cbp
divizibil cu 7/divizibil cu 7.depend
divizibil cu 7/divizibil cu 7.layout
divizibil cu 7/bin/Debug/divizibil cu 7.exe
divizibil cu 7/obj/Debug/main.o
galaxia reckya/galaxia reckya.cbp
galaxia reckya/galaxia reckya.depend
galaxia reckya/galaxia reckya.layout
galaxia reckya/main.exe
galaxia reckya/obj/Debug/main.o
Gigel/Gigel.exe
Lazi/lazi.exe
Max Min/maxmin.exe
melc/melc.exe
Minim 3/Minim3.exe
Nr de Cifre/nrcifre.exe
nrSumCifMax/nrSumCifMax.exe
Zero Unu/zero_unu.exe
Varste copii/varste_copii.exe
urm00/urm00.exe
U 2 Impare/u2impare.exe
Tren Japonez/tren_japonez.exe
TEST 15.10/Rand 1/3/3/3.layout
TEST 15.10/Rand 1/3/3/3.cbp
TEST 15.10/Rand 1/2/2/2.cbp
TEST 15.10/Rand 1/1/1/obj/Debug/main.o
TEST 15.10/Rand 1/1/1/bin/Debug/1.exe
TEST 15.10/Rand 1/1/1/1.depend
TEST 15.10/Rand 1/1/1/1.cbp
TEST 15.10/ex3/ex3.o
TEST 15.10/ex3/ex3.exe
TEST 15.10/ex2/ex2.o
TEST 15.10/ex2/ex2.exe
TEST 15.10/ex1/ex1.o
TEST 15.10/ex1/ex1.exe
tabara/obj/Debug/main.o
tabara/bin/Debug/tabara.exe
tabara/tabara.layout
tabara/tabara.depend
tabara/tabara.cbp
Sticle/Sticle.exe
Salut/salut.exe
Picioare/picioare.exe
petale/bin/Debug/petale.exe
petale/obj/Debug/main.o
petale/petale.layout
petale/petale.cbp
par sau impar/obj/Debug/main.o
par sau impar/bin/Debug/par sau impar.exe
par sau impar/par sau impar.cbp
par sau impar/par sau impar.layout
pacient/obj/Debug/main.o
pacient/bin/Debug/pacient.exe
pacient/pacient.layout
pacient/pacient.cbp
ordine medii/obj/Debug/main.o
ordine medii/bin/Debug/ordine medii.exe
ordine medii/ordine medii.layout
ordine medii/ordine medii.depend
ordine medii/ordine medii.cbp
nrSumCifMax/tempCodeRunnerFile.cpp
galaxia reckya/bin/Debug/galaxia reckya.exe
#Centru de excelenta/ultima cifra para/ultima_cifra_para.exe
#Centru de excelenta/suma prefixe/tempCodeRunnerFile.cpp
#Centru de excelenta/suma prefixe/sumprefix.exe
#Centru de excelenta/suma perm n9/sumpermn9.exe
#Centru de excelenta/stergere array/obj/Debug/main.o
#Centru de excelenta/stergere array/bin/Debug/stergere array.exe
#Centru de excelenta/stergere array/toma.txt
#Centru de excelenta/stergere array/stergere_array.cpp
#Centru de excelenta/stergere array/stergere array.layout
#Centru de excelenta/stergere array/stergere array.depend
#Centru de excelenta/stergere array/stergere array.cbp
#Centru de excelenta/stergere array/radu.png
#Centru de excelenta/sortMinMax/sortminmax.exe
#Centru de excelenta/reuniune interval/reuniune.exe
#Centru de excelenta/permCircFunctie/obj/Debug/main.o
#Centru de excelenta/permCircFunctie/bin/Debug/permCircFunctie.exe
#Centru de excelenta/permCircFunctie/rezolvare 2.png
#Centru de excelenta/permCircFunctie/permCircFunctie.layout
#Centru de excelenta/permCircFunctie/permCircFunctie.depend
#Centru de excelenta/permCircFunctie/permCircFunctie.cbp
#Centru de excelenta/PermCirc/PermCirc.exe
#Centru de excelenta/permAlternativ/obj/Debug/main.o
#Centru de excelenta/permAlternativ/bin/Debug/permAlternativ.exe
#Centru de excelenta/permAlternativ/permAlternativ.layout
#Centru de excelenta/permAlternativ/permAlternativ.depend
#Centru de excelenta/permAlternativ/permAlternativ.cbp
#Centru de excelenta/pana la 0/nr pana la 0/obj/Debug/main.o
#Centru de excelenta/pana la 0/nr pana la 0/bin/Debug/nr pana la 0.exe
#Centru de excelenta/pana la 0/nr pana la 0/nr pana la 0.layout
#Centru de excelenta/pana la 0/nr pana la 0/nr pana la 0.depend
#Centru de excelenta/pana la 0/nr pana la 0/nr pana la 0.cbp
#Centru de excelenta/oglindit/oglindit.exe
#Centru de excelenta/neg, poz, 0/obj/Debug/main.o
#Centru de excelenta/neg, poz, 0/bin/Debug/neg, poz, 0.exe
#Centru de excelenta/neg, poz, 0/neg, poz, 0.layout
#Centru de excelenta/neg, poz, 0/neg, poz, 0.depend
#Centru de excelenta/neg, poz, 0/neg, poz, 0.cbp
#Centru de excelenta/Multimi1/multimi1.exe
#Centru de excelenta/Ksort/ksort.exe
#Centru de excelenta/intersectie interval/rez 2.png
#Centru de excelenta/intersectie interval/rez 1.png
#Centru de excelenta/intersectie interval/interval.o
#Centru de excelenta/intersectie interval/interval.exe
#Centru de excelenta/interclasare2/interclasare2.in
#Centru de excelenta/interclasare2/interclasare2.out
#Centru de excelenta/interclasare2/interclasare2.exe
#Centru de excelenta/Interclasare1/interclasare1.out
#Centru de excelenta/Interclasare1/interclasare1.in
#Centru de excelenta/Interclasare1/interclasare1.exe
#Centru de excelenta/inlocuire2/inlocuire2.exe
#Centru de excelenta/functii/obj/Debug/main.o
#Centru de excelenta/functii/divizor/obj/Debug/main.o
#Centru de excelenta/functii/divizor/bin/Debug/divizor.exe
#Centru de excelenta/functii/divizor/divizor.layout
#Centru de excelenta/functii/divizor/divizor.depend
#Centru de excelenta/functii/divizor/divizor.cbp
#Centru de excelenta/functii/descompunerea/obj/Debug/main.o
#Centru de excelenta/functii/descompunerea/bin/Debug/descompunerea.exe
#Centru de excelenta/functii/descompunerea/descompunerea.layout
#Centru de excelenta/functii/descompunerea/descompunerea.depend
#Centru de excelenta/functii/descompunerea/descompunerea.cbp
#Centru de excelenta/functii/cmmdc/obj/Debug/main.o
#Centru de excelenta/functii/cmmdc/bin/Debug/cmmdc.exe
#Centru de excelenta/functii/cmmdc/cmmdc.layout
#Centru de excelenta/functii/cmmdc/cmmdc.depend
#Centru de excelenta/functii/cmmdc/cmmdc.cbp
#Centru de excelenta/functii/bin/Debug/functie prim.exe
#Centru de excelenta/functii/functii.layout
#Centru de excelenta/functii/functii.depend
#Centru de excelenta/functii/functii.cbp
#Centru de excelenta/fisiere/fisiere.o
#Centru de excelenta/fisiere/fisiere.exe
#Centru de excelenta/fisiere/date.out
#Centru de excelenta/fisiere/date.in
#Centru de excelenta/ElimRep/elimrep.exe
#Centru de excelenta/interval.exe
#Centru de excelenta/Aceeasi paritate/accparitate.exe
#Centru de excelenta/ultima cifra para/ultima_cifra_para.exe
